@page "/Home"
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,900&display=swap');

   * {
        font-family: 'Poppins', sans-serif;
    }
</style>

<div class="top-navbar">
    <div class="navbar-container">
        <button><img src="resources/plus.png"/> Novo cliente</button>
        <div class="right-menu">
            <button><img src="resources/user.png" /> Configurações</button>
            <button><img src="resources/logout.png" /></button>
        </div>
    </div>
</div>
<section class="main-page">
    <h1>Olá, <span>Danilo</span></h1>
    <div class="btn-container">
        <button>Clientes <img src="resources/user.png" /></button>
        <button>Cortes <img src="resources/shave.png" /></button>
        <button>Marcar <img src="resources/calendar.png" /></button>
    </div>
</section>
