@page "/"

<PageTitle>Index</PageTitle>

<h1>Login!</h1>


<div class="dados">
    <form action="" method="get">
        <input id="Nome" type="text" name="nameLogin" placeholder="E-mail ou nome de usuario: "/><br />
        <input id="Senha" type="password" name="senhaLogin" placeholder="Senha:"/>

    </form>
    <button>Continuar</button>
    <button>Cadastrar</button>
</div>
