@inherits LayoutComponentBase

<PageTitle>BarberBlazor</PageTitle>

<div class="page">
    <div class="login">

    </div>
    @if(logado == true)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
           @Body
    </main>

    @functions {
        bool logado = false;
    }
</div>
